<div class="play-panel" [class.show]="show">
  <div class="hd">
    <div class="hdc">
      <h4>播放列表(<span>{{songList.length}}</span>)</h4>
      <div class="add-all">
        <i class="icon" title="收藏全部"></i>收藏全部
      </div>
      <div class="line"></div>
      <div class="clear-all">
        <i class="icon trush" title="清除"></i>清除
      </div>
      <p class="playing-name">{{currentSong?.name}}</p>
      <i class="icon close" (click)="closed.emit()"></i>
    </div>
  </div>

  <div class="bd">
    <img src="//music.163.com/api/img/blur/109951163826278397" class="imgbg" />
    <div class="mask"></div>
    <app-wy-scroll (scrollEnd)="scrollY = $event" class="list-wrap" [data]="songList">
      <ul #panelUl>
        <li *ngFor="let song of songList;" [class.current]="song.id === currentSong.id" (click)="changeCurrentSong(song)">
          <i class="col arrow"></i>
          <div class="col name ellipsis">{{song.name}}</div>
          <div class="col icons">
            <i class="icon like" title="收藏"></i>
            <i class="icon share" title="分享"></i>
            <i class="icon trush" title="删除"></i>
          </div>
          <div class="singers clearfix ellipsis">
            <div class="singer-item" *ngFor="let singer of song.ar;last as isLast">
              <a class="col ellipsis" >{{singer.name}}</a>
              <span [hidden]="isLast">/</span>
            </div>
          </div>
          <div class="col duration">{{song.dt / 1000 | formatTime}}</div>
          <div class="col link"></div>
        </li>
      </ul>
    </app-wy-scroll>

    <app-wy-scroll class="list-lyric">
      <ul>
        <li *ngFor="let item of currentLyric">
          {{item.txt}}<br/>{{item.txtCn}}
        </li>
      </ul>
    </app-wy-scroll>
  </div>
</div>
